<div class="container bg-image">
  <div class = "row">
    <h3>Your current bookings:</h3>
  </div>
  <br>
  <div class="list-group">
    <% @user_bookings.each do |booking| %>
      <div class="list-group-item">
        <h3><%= booking.bird.name %></h3>
        <p><%= image_tag booking.bird.image, alt: booking.bird.name, width: 150, height: 150, crop: :thumb, gravity: :face %></p>
                        <p>Location: <%= booking.bird.location %></p>
                        <p>Type: <%= booking.bird.breed %></p>
                        <p>Price: <%= booking.bird.price %>0 €</p>
                        <div class="btn btn-info my-2"> <%= link_to 'Cancel', booking_path(booking), :class => "btn", method: :delete, data: { confirm: "Are you sure?" } %></div>
      </div>
  <% end %>
  </div>
</div><br><br>
<div class="d-flex justify-content-center align-items-end">
  <div class="btn btn-secondary my-2"> <%= link_to 'Back', birds_path(@birds), :class => "btn" %></div>
</div>
