
<main>
    <div class="bg-image">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p>Do you really want to book <%=@bird.name%>?</p>
                <%= simple_form_for [ @bird, @booking ] do |f| %>
                <%= f.hidden_field :booking, :value => @booking %>
				        <%= cl_image_tag(@bird.image.key, height: 300, width: 400, crop: :fit) %>
                <br><br>
                <%= f.submit "Book", class: "d-grid gap-2 d-md-flex justify-content-md-end btn btn-info align-self-center mx-auto " %>
                <% end %>
            </div>
        </div>
    </section>
    </div>
    </main>
