<h1 class="text-center">All Birds</h1>

<div class="container bg-image">
		<div class = "row">
      <% @birds.each do |bird| %>
        <div class="col-3 list-inline">
					<% unless bird.image.key.nil? %>
						<%= cl_image_tag(bird.image.key, width: 250, height: 250, crop: :thumb, gravity: :face) %>
						<% else %>
						<%= cl_image_tag("duckling_frowso.jpg", width: 250, height: 250, crop: :thumb, gravity: :face) %>
					<% end %>
          <strong><li> <%= bird.name %> </li></strong>
					<li> <strong>Breed: </strong> <%= bird.breed %></li>
					<li> <strong>Price/day: </strong> <%= bird.price %></li>
					<li> <strong>Location: </strong> <%= bird.location %></li>
          <%= link_to "View", bird_path(bird) %><br>
        </div><br><br>
      <% end %><br><hr>
    </div>
		<%= link_to "Add bird",  new_bird_path, class: "btn btn-success" %>
    <%= link_to "My Bookings",  bookings_path, class: "btn btn-success" %>
</div>
