<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Bird BnB</h5>
    <span class="text-muted"></span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<main>
    <div class="bg-image">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Your Bird</h1>
            <p class="lead text-muted">Bird details:</p>

                <p><%= image_tag @bird.image, alt: @bird.name, class: "img-fluid rounded", :size => "50%" %></p>
                <h3><%= @bird.name %></h3>
                <p>Location: <%= @bird.location %></p>
                <p>Type:<%= @bird.breed %></p>
                <p>Price: <%= @bird.price %>€</p>

                <div class="btn btn-secondary my-2"> <%= link_to 'Book', new_bird_booking_path(@bird), :class => "btn" %></div>
                <% if policy(@bird).edit? %>
                <div class="btn btn-info my-2"> <%= link_to 'Update', edit_bird_path(@bird), :class => "btn" %></div>
                <div class="btn btn-info my-2"> <%= link_to 'Delete', bird_path(@bird), :class => "btn", method: :delete, data: { confirm: "Are you sure?" } %></div>
                <% end %>
                <div class="btn btn-secondary my-2"> <%= link_to 'Back', birds_path(@birds), :class => "btn" %></div>

        </div>
        </div>
    </section>
    </div>
</main>
